.com-foot {
  width: 100%;
  background: rgb(248, 248, 248);

  .foot-con {
    width: 1190px;
    padding: 40px 0px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: rgb(248, 248, 248);

    .item {
      width: 220px;
    }
  }

  .foot-end {
    width: 1190px;
    padding: 15px 0 30px 20px;
    background: rgb(248, 248, 248);

    .bg-1 {
      width: 38px;
      height: 38px;
    }

    .bg-3 {
      width: 109px;
      height: 38px;
      background: url('http://t.knet.cn/tsearch/detail?keyword=meituan.com')no-repeat;
      background-position: 0 -166px;
      ;
    }

    .bg-4 {
      width: 109px;
      height: 38px;
      background: url('//www.beianbeian.com/beianxinxi/b00ef42627c62ae577c8e4a086b322a0.html"') no-repeat;
      background-position: 0 -128px;
      ;
    }

    .bg-5 {
      width: 109px;
      height: 38px;
      background: url('http://t.knet.cn/tsearch/detail?keyword=meituan.com" ') no-repeat;
      background-position: 0 -39px;
      ;
    }
  }

  .changeOrange {
    color: #999;
    &:hover {
      cursor: pointer;
      color: rgb(254, 140, 0);
    }
  }
}